/*  Groups styles */
.date-selector-container{
    --picker-background: #ccdbe8;
    background-color: var(--secondary-color) ;
    padding: 2px;
    align-items: center;
    
    display: flex;
}
span{
    font-weight: bold;
    opacity: 0.8;
}
label{
    font-weight: 700;
}
/* ------inputs styles----- */
.ds-inputs-container{
    border: solid 2px var(--smoky-edge); 
    border-radius: 10px;
    padding: 2px;
}
input{
  border-style: hidden;
  background-color: var(--secondary-color);
  max-width: 35px;
  padding-left: 5px;
}
input.focus-visible{
    outline-width: 0;
  }

/* hide arrow buttons on inputs  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* --!!!--------- hide arrow buttons on inputs end--------!!!  */
/* --!!!---------------input styles end-----------------!!! */
/*  ----------------!!!Groups styles end ---------------------!!! */



/* Individual elements styles */

/*  --------!!! Individual elements styles---------------------!!! */